body {
  font-family: sans-serif;
}

:global(.global-scope) a {
  display: block;
  padding: 10px;

  &:link,
  &:visited,
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

select {
  margin-bottom: 25px;
  margin-right: 25px;
}

pre {
  border: 1px solid #ccc;
  padding: 10px;
}

table {
  margin-top: 25px;
  width: 100%;
}

td {
  vertical-align: top;
}

th {
  text-align: left;
}